#svg-content
  =File.read(File.join("webapp","public","grundriss_#{@floorplan}.svg"))

-@positions.each do |pos|
  :javascript
    window.scaleFactor = #{@scaleFactor};
    show_position(#{pos.x},#{pos.y});
