!!! 5
%html
  %head
    %title Spyduino
    %link{ :href => "/css/application.css", :media => "screen", :rel => "stylesheet" }
    %script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    %script(src="/javascript/application.js")
    
  %body
    =yield
